<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "001" 
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>SAPUI5 Hybrid</name>

    <description>
        An example SAPUI5 Hybrid App.
    </description>

    <author href="https://www.abat.de" email="jam@abat.de">
        abat AG
    </author>

	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="org.apache.cordova.camera" />
	<gap:plugin name="com.phonegap.plugins.barcodescanner" />
	
</widget>